doctype html
html(lang="en")
  head
    title= "채팅방"
    link(rel="stylesheet", href="/src/styles/chat.css")
      
  body
    h1 채팅방 #{currentUser}
    ul
      each chat in messageList
        div(class=chat.user === currentUser ? 'right-message' : 'left-message')
          | #{chat.user}: 
          | <br>
          | #{chat.message}
      form(action=`/chatroom/${id}` method="post")
        label(for="message") 메시지 입력:
        input(type="text" id="message" name="message" placeholder="메시지를 입력하세요" required)

        button(type="submit") 전송
          