doctype html
html(lang="en")
  head
    title= "채팅방"
    link(rel="stylesheet", href="/src/styles/chat.css")
      
  body
    h1 
      a(href="/") 홈
    h2 채팅방 #{chatName}
    ul
      each chat in messageList
        div(class=chat.user === currentUser ? 'right-message' : 'left-message')
          | #{chat.user}: 
          | <br>
          | #{chat.message}
      form(action=`/chatroom/${id}` method="post")
        label(for="message") 메시지 입력:
        input(type="text" id="message" name="message" placeholder="메시지를 입력하세요" required)

        button(type="submit") 전송

  // Socket.io 스크립트 연결
  script(src="/socket.io/socket.io.js") 
  script.
    var socket = io.connect('http://localhost:4885');

  socket.on('postchat', function (user, message) {
  })
          